.left{
    &__button{
        width: 389px;
        color: white;
    }
}
.right__alert{
    color: #333;
}
.card-icon{
    margin-right: 20px;
    margin-top: 5px;
    
}
.right__card{
    width: 380px;
}